.container{
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: start;
     /* align-items: center; */
     /* align-items: end; */
     align-items: start;
     /* align-items:stretch; */
     /* align-content: start; */
}
.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 2px;
    padding: 2px;

}
#box1{
  margin: 5px;
  padding: 2px;
  background-color: aqua;
  
}
#box2{
    margin: 5px;
    padding: 2px;
    background-color: beige;
   
}
#box3{
    margin: 5px;
    padding: 2px;
    background-color: blue;
    
}
#box4{
    margin: 5px;
    padding: 2px;
    background-color: orange;
   
}