*{
    margin: 0;
    padding:0;
}
.container{
    border: 5px solid black;
    display: flex;
    margin: 20px;
    padding: 20px;
}
#box1{
  margin: 5px;
  padding: 2px;
  background-color: aqua;
  height: 200px;
  width: 200px;
}
#box2{
    margin: 5px;
    padding: 2px;
    background-color: beige;
    height: 200px;
    width: 200px;
}
#box3{
    margin: 5px;
    padding: 2px;
    background-color: blue;
    height: 200px;
    width: 200px;
}
#box4{
    margin: 5px;
    padding: 2px;
    background-color: orange;
    height: 200px;
    width: 200px;
}
@media (min-width:640px){
    .container{
        flex-direction:row;
    }
}
@media (max-width:640px){
    .container{
        flex-direction: column;
    }
}