*{
    margin: 0;
    padding: 0;
}
.container{
    height: 5000px;
}
img{
     margin:20px;
}
div{
    
    border: 3px solid black ;
}
.image2{
    position: relative;
    
}
.image4{
    position:fixed;
}
