
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;                                       
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.navContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    /* background-color:rgba(151, 44, 44, 0.616) ; */
    /* background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%); */
    background: hsla(238, 100%, 71%, 1);

background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#696EFF", endColorstr="#F8ACFF", GradientType=1 );
    min-height: 8vh;
}
#navLogo{
   font-size:3rem ;
   font-family: 'Times New Roman', Times, serif;
   color: white;

}
#navList{
    display: flex;
    justify-content:space-between;
    list-style:none ;
    font-size:2.5rem ;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 20px;
    width: 100%;
}
a{
    text-decoration: none;
    color:aquamarine;

}
#navItems{
    display: flex;
    gap: 40px;

}
#img1{
   left: 1000px;
    height: 70px;
    width: 70px;
}
.contentbox{
    flex:1;
    overflow: auto;
}
.footerbox{
    overflow: auto;
    padding: 10px;
    text-align: center;
    background: hsla(238, 100%, 71%, 1);
    background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
    }
.footerbox p{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.contentbox{
    width: 85%;
    margin: auto;
    padding: 40px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column ;
    gap: 80px;
    box-shadow: 3px 3px 30px black;


}
ol{
    padding-left: 30px;
    font-size: 27px;
}
ul{
    padding-left: 30px;
    font-size: 28px;
}
#img2{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0ms;
    
}

#img3{
    height: 400px;
     border-radius: 20px;
      transition: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0ms;
}
.item1{
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size: 25px;
}
.item2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}
.leftbox{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.rightbox{
     display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    overflow: hidden;
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0ms;
    box-shadow: 3px 3px 30px black;
    border-radius: 20px;
}
.rightbox:hover{
    transform: scale(1.07);
}
.rightbox .overlay{
 position: absolute;
 height: 100%;
 width: 100%;
 background-color:rgba(49, 44, 44, 0.616);
display: flex;
align-items: center;
justify-content: center;
border-radius: 15px;
transition: all;
transition-duration: 0ms;
transition-timing-function:linear ;
transition-delay: 0ms;
opacity: 0;
}
span{
    color: white;
    font-size: 30px;
}
.rightbox:hover .overlay{
    opacity:1;
}